---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Caja Boogers">
<body>
    <div class="container mx-auto py-16 text-center">
        <h1 class="text-4xl font-bold mb-8">Contact</h1>
        <p> Send me an email:
        <a href="contact@cajaboogers.com" class="text-black underline mt-4 inline-block">
                contact@cajaboogers.com
            </a>
        </p>
        <p> 
            Message me on Instagram:
            <a href="https://instagram.com/cajaboogers" class="text-black underline mt-4 inline-block">
                @cajaboogers
            </a>
        </p>
      </div>    
</body>
</Layout>