---
import FullscreenImageGrid from '../components/FullscreenImageGrid.tsx'
import Layout from '../layouts/Layout.astro'
---

<html lang="en">
  <head>
    <meta name="description" content="Artwork of Caja Boogers" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Work - Caja Boogers</title>
  </head>
  <Layout title='Caja Boogers'>
  <body>
    <div class="container mx-auto py-16">
      <h1 class="text-4xl font-bold mb-8 text-center hidden">Artwork</h1>

      <FullscreenImageGrid client:load />
    </div>
  </body>
  </Layout> 
</html>